<?xml version="1.0"?>
<web-app>
<display-name>play-hanabi</display-name>
<description>Online Hanabi Game</description>

<servlet>
	<servlet-name>login</servlet-name>
	<servlet-class>dragonfin.hanabi.LoginServlet</servlet-class>
</servlet>

<servlet>
	<servlet-name>game</servlet-name>
	<servlet-class>dragonfin.hanabi.GameServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>login</servlet-name>
	<url-pattern>/s/login</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>game</servlet-name>
	<url-pattern>/s/game</url-pattern>
</servlet-mapping>

</web-app>
