body {
	background-color: #3e327a;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

#page_body {
	padding: 6pt;
}

h2 {
	color: white;
}

.toolbar {
	background-color: #ddc;
	color: black;
	padding: 3pt;
}

.table_listitem {
	background-color: #b3a5f8;
	color: black;
}

.card_face {
	background-color: #cca;
	border-left: 1px solid black;
}

.cards {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.other_player {
	float: left;
	background-color: #b3a5f8;
	color: black;
	padding: 6pt;
	margin-right: 6pt;
	position: relative;
}

.hint_row td {
	text-align: center;
	color: white;
	height: 32px;
}

.hint_row th {
	text-align: right;
	height: 32px;
	color: white;
}

.hint_icon {
	vertical-align: middle;
}

.template {
	display: none;
}

.floater {
	display: inline-block;
}

.common_area {
	margin-top: 4em;
	margin-bottom: 4em;
	color: white;
}

.play_area_box {
	position: relative;
	border: 2px solid yellow;
	text-align: center;
	height: 128px;
	padding-top: 32px;
}

.pile_container {
	margin-left: 16px;
	margin-right: 16px;
}

.play_area_box .caption {
	position: absolute;
	bottom: 0;
	font-weight: bold;
	color: yellow;
	text-align: center;
	left: 0;
	right: 0;
}

#draw_pile_box, #discard_pile_box {
	min-width: 128px;
}
#play_area_box {
	min-width: 420px;
	margin-left: 64px;
	margin-right: 64px;
}

.selected_seat {
	z-index: 2;
}

#dimmer {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1 !important;
	background-color: black;
	filter: alpha(opacity=75);
	-khtml-opacity: 0.75;
	-moz-opacity: 0.75;
	opacity: 0.75;
}

.dialog_wrapper {
	display: none;
	width: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 5;
}
.dialog {
	width: 400px;
	height: 400px;
	margin: 200px auto 0 auto;
	padding; 40px;
	background-color: #fff;
	border: 1px solid #ccc;
	color: #333;
}
